/* Fix for TOC (Table of Contents) positioning */
[data-toc] {
  top: 4rem !important; /* 64px - height of sticky header */
  height: calc(100vh - 4rem) !important;
  padding-top: 1rem;
}

/* Ensure dropdown menus appear above TOC */
.site-header-dropdown {
  z-index: 60;
}
