name: CI - App Web Release Prod

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+.[0-9][0-9]2"

jobs:
  build-web:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      deployments: write
      pull-requests: write
    env:
      JAN_BASE_URL: "https://api.jan.ai/v1"
      JAN_API_BASE_URL: "https://api.jan.ai/"
      VITE_GA_ID: "G-BWGTGCT2MC"
      VITE_AUTH_URL: "https://auth.jan.ai"
      VITE_AUTH_REALM: "jan"
      VITE_AUTH_CLIENT_ID: "jan-client"
      VITE_OAUTH_REDIRECT_URI: "https://chat.jan.ai/auth/callback"
      CLOUDFLARE_PROJECT_NAME: "jan-server-web"
      ENVIRONMENT: "prod"
      VITE_REPORT_ISSUE_URL: "https://forms.gle/LoxNVacHqUT261sa9"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install jq
        uses: dcarbone/install-jq-action@v2.0.1

      - name: Install dependencies and build
        run: |
          cd packages/interfaces/ && npm install --workspaces=false && cd ../../
          cd apps/web/ && npm install --workspaces=false && npx vite build
        env:
          JAN_BASE_URL: ${{ env.JAN_BASE_URL }}
          JAN_API_BASE_URL: ${{ env.JAN_API_BASE_URL }}
          ENVIRONMENT: ${{ env.ENVIRONMENT }}
          VITE_AUTH_URL: ${{ env.VITE_AUTH_URL }}
          VITE_AUTH_REALM: ${{ env.VITE_AUTH_REALM }}
          VITE_AUTH_CLIENT_ID: ${{ env.VITE_AUTH_CLIENT_ID }}
          VITE_OAUTH_REDIRECT_URI: ${{ env.VITE_OAUTH_REDIRECT_URI }}
          VITE_GA_ID: ${{ env.VITE_GA_ID }}

      - name: Add headers
        run: cp apps/web/_headers apps/web/dist/_headers

      - name: Publish to Cloudflare Pages Production
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: ${{ env.CLOUDFLARE_PROJECT_NAME }}
          directory: ./apps/web/dist
          branch: main
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}