name: CI - Web App (Dev)

on:
  push:
    branches:
      - main
    paths:
      - "apps/web/**"
      - .github/workflows/ci-app-web-dev.yml
  pull_request:
    branches:
      - main
    paths:
      - "apps/web/**"
      - .github/workflows/ci-app-web-dev.yml

jobs:
  build-docker-x64:
    uses: ./.github/workflows/_reusable-docker.yml
    secrets: inherit
    with:
      runs-on: ubuntu-24-04-docker
      docker-file: apps/web/Dockerfile
      context: apps/web
      registry-url: registry.menlo.ai
      tags: registry.menlo.ai/jan-server/web:dev-${{ github.sha }}
      build-args: |
        JAN_BASE_URL=https://api-dev.jan.ai/v1
        JAN_API_BASE_URL=https://api-dev.jan.ai/
        ENVIRONMENT=dev
        VITE_AUTH_URL=https://auth-dev.menlo.ai
        VITE_AUTH_REALM=jan
        VITE_AUTH_CLIENT_ID=jan-client
        VITE_OAUTH_REDIRECT_URI=https://chat-dev.jan.ai/auth/callback
        VITE_REPORT_ISSUE_URL=https://forms.gle/LoxNVacHqUT261sa9
      is_push: ${{ github.event_name == 'push' }}
