name: CI - Platform App (Prod)

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+-app-platform"

jobs:
  build-docker-x64:
    uses: ./.github/workflows/_reusable-docker.yml
    secrets: inherit
    with:
      runs-on: ubuntu-24-04-docker
      docker-file: apps/platform/Dockerfile
      context: apps/platform
      registry-url: registry.menlo.ai
      tags: registry.menlo.ai/menlo-platform/platform:prod-${{ github.ref_name }}
      build-args: |
        NEXT_PUBLIC_JAN_BASE_URL=https://api.jan.ai
      is_push: ${{ github.event_name == 'push' }}
